<div id="evaluation-view" class="ui grid">
    <div class="row" v-for="evaluation in evaluations">
        <div v-if="error" class="ui negative message four wide column">
            <div class="header">Failed to Load Data</div>
            <p v-html="errorMessage"></p>
        </div>
        <div v-else>
            <div class="wide column">
                <div class="ui top attached large label">
                    {{ evaluation.surveyIdentifier }}
                </div>
                <div class="ui large red massive right corner label" v-if="evaluation.health_level <= -20">
                    {{ evaluation.health_level }}
                </div>
                <div class="ui large massive green right corner label" v-else-if="evaluation.health_level >= 40">
                    {{ evaluation.health_level }}
                </div>
                <div class="ui large massive yellow right corner label" v-else>
                    {{ evaluation.health_level }}
                </div>
                <table class="ui celled padded definition table">
                    <thead>
                      <tr>
                        <th></th>
                        <th v-for="(category, name) in evaluation.categories">{{ name }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="ui center aligned header">AVG</td>
                        <td class="ui center aligned" v-for="category in evaluation.categories">
                            <div class="ui large red label" v-if="category.mean <= 7">
                                {{ Math.round((category.mean + Number.EPSILON) * 100) / 100 }}
                            </div>
                            <div class="ui large green label"  v-else-if="category.mean >= 9">
                                {{ Math.round((category.mean + Number.EPSILON) * 100) / 100 }}
                            </div>
                            <div class="ui large yellow label" v-else>
                                {{ Math.round((category.mean + Number.EPSILON) * 100) / 100 }}
                            </div>
                        </td>
                        <tr>
                            <td class="ui center aligned header">MED</td>
                            <td class="ui center aligned" v-for="category in evaluation.categories">
                                <div class="ui large red label" v-if="category.median <= 7">
                                    {{ Math.round((category.median + Number.EPSILON) * 100) / 100 }}
                                </div>
                                <div class="ui large green label"  v-else-if="category.median >= 9">
                                    {{ Math.round((category.median + Number.EPSILON) * 100) / 100 }}
                                </div>
                                <div class="ui large yellow label" v-else>
                                    {{ Math.round((category.median + Number.EPSILON) * 100) / 100 }}
                                </div>
                            </td>
                      </tr>
                      <tr>
                        <td class="ui center aligned header">HL</td>
                        <td class="ui center aligned" v-for="category in evaluation.categories">
                            <div class="ui large red label" v-if="category.healthlevel <= -20">
                                {{ category.healthlevel }}
                            </div>
                            <div class="ui large green label" v-else-if="category.healthlevel >= 40">
                                {{ category.healthlevel }}
                            </div>
                            <div class="ui large yellow label" v-else>
                                {{ category.healthlevel }}
                            </div>
                        </td>
                  </tr>
                  </tbody></table>
            </div>
        </div>
    </div>
</div>