<div id="survey-view" class="ui grid">
    <div class="row"></div>
    <div class="row">
        <div class="one wide column"/>
        <div class="ui input action" id="survey-identifier-container" v-bind:class="{error: identifierInvalid}">
            <input id="survey-identifier" type="text" placeholder="Identifier" v-on:change="resetInvalidIdentifier" @keyup.enter="createSurvey" v-model="identifier"/>
            <div id="survey-add" class="ui icon button" data-tooltip="Create a new survey" data-position="top right" v-on:click="createSurvey">
                <i class="add icon"></i>
            </div>
            <div id="survey-evaluate" class="ui icon button" data-tooltip="Evaluate selected surveys" data-position="top right" v-on:click="evaluateSurveys">
                <i class="chart pie icon"></i>
                <label>Evaluate</label>
            </div>
        </div>
    </div>
    <div class="centered row">
        <div v-if="error" class="ui negative message four wide column">
            <div class="header">Failed to Load Data</div>
            <p v-html="errorMessage"></p>
        </div>
        <div class="ui segment fourteen wide column"  v-else>
            <table class="ui selectable definition celled table" id="survey-table">
                <thead><tr><th></th><th>Created</th><th>Identifier</th><th>Source</th></tr></thead>
                <tbody>
                    <tr v-for="survey in surveys" v-bind:id="'survey-' + survey.id">
                        <td>
                            <div class="ui fitted checkbox">
                                <input type="checkbox" v-on:click="selectSurvey(survey.id)">
                                <label></label>
                            </div>
                        </td>
                        <td>{{ survey.creation_date }}</td>
                        <td>{{ survey.identifier }}</td>
                        <td>
                            <div v-if="survey.sources === undefined">
                                <div v-bind:id="'add-source-' + survey.identifier" class="ui icon button" data-tooltip="Add data source" data-position="top right" v-on:click="$('#survey-source-modal-' + survey.id).modal('show')">
                                    <i class="add icon"></i>
                                </div>
                                <div class="ui modal" v-bind:id="'survey-source-modal-' + survey.id">
                                    <div class="header">
                                        Add Source to {{ survey.identifier }}
                                    </div>
                                    <div class="content">
                                        <div class="ui relaxed grid">
                                            <div class="one column row">
                                                <div class="ui header column">Please enter data source URI.</div>
                                            </div>
                                            <div class="four column row">
                                                <div class="column"/>
                                                <select class="column" v-model="sourceAddTypeData[survey.id]" v-bind:id="'survey-source-' + survey.identifier + '-type-selector'">
                                                    <option value="gspread">GSpread</option>
                                                    <option value="csv">CSV</option>
                                                </select>
                                                <input class="ui input column" v-model="sourceAddUriData[survey.id]" v-bind:id="'survey-source-' + survey.identifier + '-uri-input'"/>
                                                <div class="column"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <div class="ui black deny button">
                                            Cancel
                                        </div>
                                        <div class="ui positive right labeled icon button" v-bind:id="'survey-source-' + survey.identifier + '-save'" v-on:click="addDataSource(survey)">
                                            Save
                                            <i class="checkmark icon"></i>
                                        </div>
                                        </div>
                                </div>
                            </div>
                            <div v-else>
                                <div v-for="source in survey.sources">
                                    <div class="ui raised segment">
                                        <div class="ui green ribbon label">
                                            <i class="database icon"></i>
                                            {{ source.type }}
                                        </div>
                                        <a href="#" v-if="source.type === 'csv'">{{ source.link }}</a>
                                        <a v-bind:href="source.link" v-else>{{ source.link }}</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="ui dimmer" v-bind:class="{active: loading}">
                <div class="ui loader"></div>
            </div>
        </div>
    </div>
</div>