<div id="team-view" class="ui grid">
    <div class="row">
        <div class="ui input action">
            <input id="new-team-name" type="text" placeholder="Name"  @keyup.enter="createTeam" v-model="newTeamName"/>
            <div id="add-team" class="ui icon button" data-tooltip="Create a new team" data-position="top right" v-on:click="createTeam">
                <i class="add icon"></i>
            </div>
        </div>
    </div>

    <div class="row">
        <div v-if="error" class="ui negative message four wide column">
            <div class="header">Failed to Load Data</div>
            <p v-html="errorMessage"></p>
        </div>
        <div class="ui cards" v-else>
            <div class="ui card" v-for="team in teams">
                <div class="content">
                    <div class="header">{{ team.name }}</div>
                    <div class="content">{{ team.assigned_surveys.length }} Survey(s)</div>
                    <div class="extra content">
                        <div class="ui labeled icon button" v-on:click="displayModal('team-' + team.id + '-add-survey-modal')">
                            <i class="ui icon add"></i>
                            Assign Survey
                        </div>
                    </div>
                </div>
                <div class="ui basic modal" v-bind:id="'team-' + team.id + '-add-survey-modal'">
                    <div class="ui icon header">
                      <i class="archive icon"></i>
                      Assign Survey
                    </div>
                    <div class="content">
                      Please select which survey shall be assigned to the team:
                      <select class="ui search dropdown" v-model="surveyToBeAdded">
                        <option v-for="s in surveys" v-bind:value="s.id" > {{ s.identifier }}</option>
                      </select>
                    </div>
                    <div class="actions">
                      <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>
                        Cancel
                      </div>
                      <div class="ui green ok inverted button" v-on:click="addSurveyTo(team.id)">
                        <i class="checkmark icon"></i>
                        Assign
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>