<nav id="navigation">
    <h1 class="ui header">Team Health Check</h1>
    <div class="ui secondary pointing menu">
    <a class="ui item" v-bind:class="{active: isSurveyPage}" href="/#surveys" id="navigation-survey">Surveys</a>
    <a class="ui item" v-bind:class="{active: isTeamsPage}" href="/#teams" id="navigation-about">Teams</a>
    <a class="ui item" v-bind:class="{active: isAboutPage}" href="/#about" id="navigation-about">About</a>    
    </div>
</nav>